* {
  background: black;
}


.parent {
  color: red;
}

.child {
  color: blue;
}

.grandchild {
  color: green;
}

.greatgrandchild {
  color: pink;
}

.greatgrandchild2 {
  color: purple;
}

.child2 {
  color: coral;
}

.child2 .grandchild {
  color: aqua;
}

.child2 .greatgrandchild {
  color: rosybrown;
}

.child2 .grandchild2 {
  color: sienna;
}

.child2 .grandchild2 .greatgrandchild {
  color: tomato;
}


/*
fork this
https://codepen.io/lambdaschool/pen/rddroJ

My Fork
https://codepen.io/newbi462/pen/WNePrqe
*/
